{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>
    infinitfolio | Login
  </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel = 'icon'  href = "{%static 'imgs/infinitfolio.png'%}"  type='image/png'>
    <link rel="stylesheet" href="{%static 'css/main.css'%}">
    <style>
        body {
            background-image: url({%static 'imgs/1.jpg'%});
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            max-width: 100vw;
            min-height: 97vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
{% block content %}
 {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
    {% endif %}
  {% endif %}
  <form class="box" method="post">
    {%csrf_token%}
        <span class="title">Login For infintfolio</span>
            <div class="input">
       <div class="username a">
                    <label for="username">Username</label>
                    {{form.username}}
                </div>
       <div class="password a">
                    <label for="password">Password</label>
                    {{form.password}}
                </div>
            </div>
    <input type="submit" value="Login" class="submit">
    {% if next %}
      <input type="hidden" name="next" value="{{next}}" />
    {%else%}
      <input type="hidden" name="next" value="/" />
    {%endif%}
    {# Assumes you setup the password_reset view in your URLconf #}
    <a href="{% url 'password_reset' %}" style="margin-left:5%;">Lost password?</a> <a href="/accounts/sign_up/" style="float:right;margin-right:5%;"> Create account</a>
  </form>
{%endblock%}
<script>
  document.getElementById("id_username").placeholder = "User_name"
  document.getElementById("id_password").placeholder = "Password"
</script>

</body>
</html>
